<div *ngIf="comment; else tweetLayout" class="tweet-card">
  <div class="tweet-reply"><small>Replying to: {{tweet.user.username}} </small></div>
  <div class="tweet-header">
    <img class="avatar-img" [src]="avatarImg" alt="">
    <p class="tweet-username">{{ comment.user.username }} </p>
    <span class="tweet-email"> {{ comment.user.email }} </span>
  </div>
  <hr />
 <div class="tweet-content">
  <p class="tweet-text">{{ comment.text }}</p>
 <p class="tweet-date"> {{ comment.created_at | date: "dd/MM/yyyy" }} </p>
 </div>
</div>

<ng-template #tweetLayout>
  <div class="tweet-card">
    <div class="tweet-header">
      <img class="avatar-img" [src]="avatarImg" alt="">
      <p class="tweet-username">{{ tweet.user.username }}</p>
    <span class="tweet-email"> {{ tweet.user.email }} </span>
    </div>
    <hr />
   <div class="tweet-content">
    <p class="tweet-text">{{ tweet.text }}</p>
    <p class="tweet-date"> {{ tweet.created_at | date: "dd/MM/yyyy" }} </p>
   </div>
  </div>
</ng-template>

