.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: slateblue;
    padding: 0 60px;
    color: snow;

    a{
        text-decoration: none;
        color: snow;
        transition: 200ms ease-in-out;
        padding: 20px;

        &:hover{
            background: darken(slateblue, 10%);
        }
    }

    .app-logo{
        font-weight: 500;
        font-size: 22px;
    }
    
    .nav-links{
        display: flex;
        align-items: center;
        
    }

    .avatar-img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .nav-menu{
        display: flex;
        align-items: center;
    }

}